<!DOCTYPE html>
<html>
<head>
	<title>Blog</title>
</head>
<body>
	<h1>These are my recent blog.To see whole blog click here <a href="{% url 'blog:all' %}" target="_blank">Click Me</a></h1>
	<h1>Recent Blog</h1>
	{% for blog in blogs %}
	<a href="{% url 'blog:detail' blog.id %}" target="_blank"><h1>Title: {{ blog.title }}</h1></a>
	<h1>Date: {{ blog.date|date:'d M Y'}}</h1>
	{% if blog.image %}
	<h1>Image: <img src="{{ blog.image.url }}"></h1>
	{% endif %}
	<h1>Description: {{ blog.description|truncatechars:10 }}</h1>
	{% endfor %}
</body>
</html>